@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  padding: 0;
  border: none;
  background: #7ae5fd;
  cursor: pointer;
  padding: 21px 35px;
  border-radius: 87px;
  text-transform: uppercase;
  font-size: 1.125em;
}

ul {
  list-style: none;
}

/* General styles */
body {
  font-family: Montserrat;
  color: #000;
  font-size: 1em;
  font-weight: 400;
}
/* Header styles */
.menu {
  display: flex;
  padding: 2.5em 4.4375em;
  justify-content: space-between;
}

.menu-screen {
  display: flex;
  gap: 1.5em;
}
.logo {
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 3.5em;
}

.menu-item {
}

.white-blue-btn {
  background-color: white;
}
.blue-btn {
  margin-top: 3.125em;
  margin-left: 35em;
  margin-right: 35em;
  margin-bottom: 10em;
}

/* first screen */
.first-screen {
  background-image: url("./img/Frame121461.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main-position {
  padding-left: 6.5625em;
  padding-top: 12.625em;
  padding-bottom: 12.625em;

  width: 50%;
}
.main-title {
  font-weight: 800;
  font-size: 4.06em;
  text-transform: uppercase;
  color: white;
}

.main-description {
  font-size: 1.25em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.second-screen {
  padding: 10em 13.625em;
  text-align: center;
}
.second-title {
  font-size: 3.75em;
  text-transform: uppercase;
  padding-bottom: 0.9375em;
}
.second-discription {
  font-size: 1.6875em;
  padding-bottom: 0.625em;
}

.second-text,
.target-text {
  font-size: 1.25em;
  color: #73a6b1;
}

.description-container {
  display: flex;
  background-color: #f1fdff;
  margin-left: 4.4375em;
  margin-right: 4.4375em;
  margin-bottom: 3.125em;
}
.description-item,
.description-img {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: 3.875em;
  margin-right: 3.875em;
}
.description-item {
  padding-top: 5.6875em;
}
.description-title {
  font-size: 2.875em;
  text-transform: uppercase;
  padding-bottom: 0.625em;
}
.description-list {
  font-weight: 600;
  font-size: 1.25em;
  padding-bottom: 0.625em;
}
.description-text {
  font-size: 1.25em;
}

.mission {
  background-image: url(./img/Фон5.png);
  background-repeat: no-repeat;
  display: flex;
}

.mission-text {
  font-size: 1.7;
  padding-top: 5.625em;
  padding-bottom: 5.625em;
  padding-left: 3.875em;
  padding-right: 43.125em;
  background-color: #f1fdff;
  margin-left: 5.4375em;
  margin-right: 5.4375em;
  margin-top: 13.8em;
  margin-bottom: 8.8em;
}
.relative::before {
}

.target {
  margin-left: 13.625em;
  margin-right: 13.625em;
}
.target-title,
.contacts-title {
  font-size: 3.75em;
  text-transform: uppercase;
}
.target-title {
  margin-bottom: 0.9375em;
}
.target-item {
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 1.0625em;
  font-size: 1.6875em;
  margin-top: 3.125em;
}
.target-img {
  margin-left: 21.5em;
  margin-right: 21.5em;
}

.footer {
  background-color: #f9fadf;
}

.contacts {
  display: flex;
  padding-top: 3.125em;
}
.contacts-title {
  margin-left: 3.7656em;
}
.contacts-item {
  margin-left: 14.14em;
}
.contacts-list {
}
.contacts-text {
  font-size: 1.25em;
  width: 50%;
  padding-bottom: 3.5625em;
}
.contacts-numer {
  font-weight: 700;
  font-size: 1.25em;
  padding-bottom: 3.5625em;
}

.form {
  display: flex;
  padding: 3.75em;
  background-color: #ffffff;
  margin-left: 4.4375em;
  margin-right: 4.4375em;
  margin-bottom: 10em;
}
.form-title {
  font-size: 1.6875em;
}
.form-item {
  flex-direction: column;
}
.form-list {
  flex-direction: column;
  margin-right: 3.8125em;
}
